* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-color: RGBA(12, 29, 44, 1);
}

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  width: 55%;
  font-size: 20px;
}
nav h1 {
  margin-left: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: RGBA(12, 29, 44, 1);
  color: #fff;
  line-height: 68px;
  overflow: hidden;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

nav div a {
  text-decoration: none;
  color: #fff;
}

.sales {
  background-color: rgb(11, 105, 237);
  line-height: 20px;
  letter-spacing: 1px;
  margin: 0 10px;
  font-weight: 700;
  padding: 5px 25px;
  color: #fff;
  font-size: 16px;
  border-radius: 100px;
  height: 30px;
  width: 60px;
  border: 1px solid rgb(11, 105, 237);
  font-family: 'Inter', sans-serif;
}
.contact {
  background-color: #3cbc10;
  line-height: 20px;
  letter-spacing: 1px;
  /* margin: 0 5px; */
  font-weight: 700;
  padding: 5px 25px;
  color: #fff;
  font-size: 16px;
  border-radius: 100px;
  height: 30px;
  /* width: 60px; */
  border: 1px solid#3cbc10;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  display: block;
  text-align: center;
  /* margin: auto; */
}

.form-cont {
  width: 100%;

  height: 500px;
  display: flex;
  justify-content: center;
  /* margin-top: 30px; */
  padding: 50px 0px;
  /* border: 1px solid black; */
}

.form-cont .box-box {
  display: flex;
  /* justify-content: space-between; */
  width: 60%;
  height: 80%;
  border: 1px solid black;
  /* padding: 30px; */
  background-color: white;
  /* flex: 1; */
}
#addNewShop fieldset {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* flex: 2; */
  /* margin: 40px 60px; */
  /* margin: 50px */
}

.left-section {
  /* flex: 0.5; */
  /* margin: 40px 60px; */
  /* margin: 50px; */
  background: #16202e;
  height: 100%;
  width: 40%;
  /* flex: 0.5; */
  /* margin-right: 40px; */
  position: relative;
}
.left-section div {
  text-align: center;
}
.box {
  width: 100%;
  /* padding: 50px 0; */
}

#addNewShop {
  /* width: 10%; */
  width: 100%;
}

.img-fish-icon {
  position: absolute;
  bottom: 0;
  left: 43px;
}

.fieldset {
  height: 99%;
}
input {
  height: 15%;
}
#submit {
  border: 2px solid green;
  background-color: green;
  color: white;
  height: 15%;
  font-size: 33px;
}

td,
th {
  padding: 9px;
  text-align: center;
  background-color: #0b69ed;
  color: white;
  margin-left: auto;
}

table {
  display: inline;
}

footer {
  color: #c4ccd2;
  width: 100%;
  overflow: hidden;
  margin-top: 35px;
}

.subscribe {
  background-color: #1e2d41;
  padding: 36px 0;
}

.subscribe > .block {
  width: 100%;
  max-width: 1200px;
  display: flex;
}
.subscribe > .block > .social {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  text-align: left;
}

.desc__section div p {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}
footer nav {
  display: flex;
  justify-content: center;
  line-height: 1.8;
  padding: 50px 20px;
  background-color: #182333;
}

.footer-company {
  font-family: Inter, sans-serif;
}

.info-col {
  padding: 0 15px;
  float: none;
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.info-col h6 {
  font-size: 18px;
  color: #fff;
  margin: 30px 0 15px;
}
.info-col hr {
  width: 40px;
  height: 3px;
  background: #23354d;
  margin: 0 0 14px;
  border: 1px solid #23354d;
}
nav > div > div {
  flex: 1 1 auto;
  text-align: left;
}
.info-col ul li {
  text-decoration: none;
  list-style-type: none;
}

.footer__container {
  width: 100%;
}

.rights {
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: #16202e;
  line-height: 60px;
  color: #c4ccd2;
  width: 100%;
  overflow-y: hidden;
}
